@if (loading) {
  <div class="loader-container">
    <div class="loader">
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
    </div>
  </div>
  }
  @else {
  <div class="desktop" style="margin-top: 20px;">
    <div class="search-result-outer manhattan" id="topblock" #topblock>
      <div class="wrapper-search-block">
        <div class="search-result-inner">
          <div class="hotel-tabs" id="hotelTabs">
            <ul>
              <li
                [ngClass]="{'active':sub_hotel_id==123, 'separator':sub_hotel_id!=123 && sub_hotel_id!=124}"
                (click)="updateHotelFilter(123)">
                <div class="image">
                  <img src="/assets/img/sub_hotel_logos/{{sub_hotel_id==123 ? 'PB-white' : '123'}}.png"
                    alt="123" />
                </div>
                <div class="wrap" *ngIf=" subHotelsMinimumPrice[123]>0">
                  <span class="ribbon" *ngIf="subHotelsMinimumPrice[123] > 0">FROM
                    <strong>{{subHotelsMinimumPrice[123]|currency:'$'}}</strong></span>
                </div>
                <div *ngIf="subHotelsMinimumPrice[123]<=0 && responseStatus === 'success'">
                  <span *ngIf=" sub_hotel_id==123; else elseBlock" class="room-sold-active"></span>
                  <ng-template #elseBlock>
                    <span class="room-sold"></span>
                  </ng-template>
                </div>
              </li>

              <li
                [ngClass]="{'active':sub_hotel_id==124, 'separator':sub_hotel_id!=124 && sub_hotel_id!=125}"
                (click)="updateHotelFilter(124)">
                <div class="image">
                  <img src="assets/img/sub_hotel_logos/{{sub_hotel_id==124 ? 'BV-white' : '124'}}.png"
                    alt="124" />
                </div>
                <div class="wrap" *ngIf=" subHotelsMinimumPrice[124]>0">
                  <span class="ribbon" *ngIf="subHotelsMinimumPrice[124] > 0">FROM
                    <strong>{{subHotelsMinimumPrice[124]|currency:'$'}}</strong></span>
                </div>
                <div *ngIf="subHotelsMinimumPrice[124]<=0 && responseStatus === 'success'">
                  <span *ngIf=" sub_hotel_id==124; else elseBlock" class="room-sold-active"></span>
                  <ng-template #elseBlock>
                    <span class="room-sold"></span>
                  </ng-template>
                </div>

              </li>

              <li
                [ngClass]="{'active':sub_hotel_id==125, 'separator':sub_hotel_id!=125}"
                (click)="updateHotelFilter(125)">
                <div class="image">
                  <img src="assets/img/sub_hotel_logos/{{sub_hotel_id==125 ? 'BP-white' : '125'}}.png"
                    alt="125" />
                </div>
                <div class="wrap" *ngIf=" subHotelsMinimumPrice[125]>0 && responseStatus === 'success'">
                  <span class="ribbon" *ngIf="subHotelsMinimumPrice[125] > 0">FROM
                    <strong>{{subHotelsMinimumPrice[125]|currency:'$'}}</strong></span>
                </div>
                <div *ngIf="subHotelsMinimumPrice[125]<=0 && responseStatus === 'success'">
                  <span *ngIf=" sub_hotel_id==125; else elseBlock" class="room-sold-active"></span>
                  <ng-template #elseBlock>
                    <span class="room-sold"></span>
                  </ng-template>
                </div>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>

  }
