#booking-interface-main{
  display: relative;
  width: 100vw;
  height: 100vh;
  background-color: grey;
  #close-btn{
    color: white;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 19px;
    font-size: 25px;
    font-weight: 600;
    &:hover{
      color: rgb(194, 194, 194);
    }
  }
}

.hidden{
  display: none;
}
