@import '../styles.scss';

#booking-interface-main{
  background: url('https://png.pngtree.com/png-vector/20220608/ourmid/pngtree-world-map-grey-color-on-white-background-png-image_4895333.png');
  position: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-color: #e9e9e9;
}
