#booking-interface-main{
  overflow: hidden;
  height: 100vh;
  width: 100wh;
  background-color: grey;
  #close-btn-div{
    position: absolute;
    color: white;
    right: 1%;
    top: 2%;
    #close-btn{
      font-size: 28px;
      cursor: pointer;
      &:hover{
        color: rgb(189, 189, 189);
      }
    }
  }
}
