<div class="checkout-container">
  <div class="checkout-form-container">
    <mat-stepper orientation="vertical" [linear]="false" #stepper>
      <mat-step [stepControl]="billingForm">
        <ng-template matStepLabel>Billing Info</ng-template>
        <form [formGroup]="billingForm" (ngSubmit)="billingProcess()">
          <div class="form-row">
            <div class="form-left-side">
              <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="Last name, First name" formControlName="first_name" required>
              </mat-form-field>
            </div>
            <div class="form-right-side">
              <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Last name, First name" formControlName="last_name" required>
              </mat-form-field>
            </div>
          </div>

          <div class="form-row">
            <div class="form-left-side">
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Last name, First name" formControlName="email" required>
              </mat-form-field>
            </div>
            <div class="form-right-side">
              <mat-form-field appearance="outline">
                <mat-label>Phone</mat-label>
                <input matInput placeholder="Last name, First name" formControlName="phone" required>
              </mat-form-field>
            </div>
          </div>

          <div class="form-row">
            <div class="form-left-side">
              <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <input matInput placeholder="Last name, First name" formControlName="address" required>
              </mat-form-field>
            </div>
            <div class="form-right-side">
              <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <input matInput placeholder="Last name, First name" formControlName="city" required>
              </mat-form-field>
            </div>
          </div>

          <div class="form-row">
            <div class="form-left-side">
              <mat-form-field appearance="outline">
                <mat-label>State</mat-label>
                <input matInput placeholder="Last name, First name" formControlName="state" required>
              </mat-form-field>
            </div>
            <div class="form-right-side">
              <mat-form-field appearance="outline">
                <mat-label>Zipcode</mat-label>
                <input matInput placeholder="Last name, First name" formControlName="zipcode" required>
              </mat-form-field>
            </div>
          </div>

          <div class="form-row">
            <div class="form-left-side">
              <mat-form-field appearance="outline">
                <mat-label>Country</mat-label>
                <input matInput placeholder="Last name, First name" formControlName="country" required>
              </mat-form-field>
            </div>
          </div>

          <div>
            <button mat-button matStepperNext [disabled]="!billingForm.valid" (click)="getData()">Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="paymentForm">
        <ng-template matStepLabel>Payment Info</ng-template>
        <form [formGroup]="paymentForm">
          <div class="form-row">
            <div class="form-left-side">
              <mat-form-field appearance="outline">
                <mat-label>Card Number</mat-label>
                <input  #input123 (keyup)="moveCursorToEnd(input123)" matInput formControlName="cc_number" placeholder="Card Number" name="cc_number" required id="cc-number" type="tel" autocomplete="cc-number" ccNumber>
              </mat-form-field>
            </div>
            <div class="form-right-side">
              <mat-form-field appearance="outline">
                <mat-label>Name on Card</mat-label>
                <input matInput placeholder="Name On Card" autocomplete="off" formControlName="card_holder" required>
              </mat-form-field>
            </div>
          </div>
          <div class="form-row">
            <div class="form-left-side">
              <mat-form-field appearance="outline">
                <mat-label>Expiration Date (MM/YYYY)</mat-label>
                <input #input124 (keyup)="moveCursorToEnd(input124)" matInput formControlName="expiry_date" placeholder="Expiration Date (MM/YYYY)" name="expiry_date" required id="expiry_date" type="tel" autocomplete="expiry_date" ccExp>
              </mat-form-field>
            </div>
            <div class="form-right-side">
              <mat-form-field appearance="outline">
                <mat-label>CVV</mat-label>
                <input matInput formControlName="cvv" maxlength="4" placeholder="CVV" name="cvv" required id="cvv" type="tel" autocomplete="cvv" ccCVC>
              </mat-form-field>
            </div>
          </div>
          <div>
            <button mat-button matStepperNext [disabled]="!paymentForm.valid" (click)="placeOrder()">Done</button>
          </div>
        </form>
      </mat-step>
    </mat-stepper>
  </div>
</div>
