openapi: 3.0.3
info:
  title: Plaza Beach Resorts API
  description: API for searching available rooms at Plaza Beach Resorts
  version: 1.0.0
servers:
  - url: https://www.plazabeachresorts.com/ls-api
paths:
  /frontend/Searchresults/get_search_results_sj:
    post:
      tags:
        - GetSearchResultSj
      summary: Get search results for available rooms
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetSearchResultRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetSearchResultResponse"
        "400":
          description: Bad request
        "500":
          description: Internal server error
  /frontend/Home/get_dynamic_search_dates/0:
    get:
      tags:
        - GetDynamicDates0
      summary: Get dynamic search dates
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetDynamicDates"
        "400":
          description: Bad request
        "500":
          description: Internal server error
  /frontend/booking/get_gift_card:
    get:
      tags:
        - GetGiftCards
      summary: Get gift card details
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetGiftCards"
        "400":
          description: Bad request
        "500":
          description: Internal server error
  /frontend/Searchresults/getPriceMlsStopSell:
    post:
      tags:
        - GetPriceMlsStopSell
      summary: Retrieve price, minimum stay, stop sell, CTA, CTD, and availability information
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetPriceMlsStopSellRequest"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetPriceMlsStopSellResponse"
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
  /frontend/Searchresults/getPriceModuleSelectedDatesV2:
    post:
      tags:
        - GetPriceModuleSelectedDatesV2
      summary: Get price module for selected dates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetPriceModuleSelectedDatesRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetPriceModuleSelectedDatesResponse"
        "400":
          description: Bad request
        "500":
          description: Internal server error
  /Home/get_hotel_rooms:
    get:
      tags:
        - GetHotelRooms
      summary: Get hotel rooms
      description: Retrieve the list of hotel rooms and their details.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetHotelRooms"
  /frontend/cart/add_to_cart:
    post:
      tags:
        - AddToCart
      summary: Add items to the cart
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddToCartRequest"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddToCartResponse"
        '400':
          description: Bad request
        '500':
          description: Internal server error
  /frontend/Cart/load_cart_data:
    post:
      tags:
        - LoadCartData
      summary: Load cart data
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoadCartDataRequest"
      responses:
        '200':
          description: Successful response with cart data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoadCartDataResponse"
        '400':
          description: Bad request
        '404':
          description: Not found
        '500':
          description: Internal server error
  /frontend/Searchresults/get_pos_available_on_fe:
    get:
      tags:
        - GetPosAvailable
      summary: Get available POS products
      responses:
        '200':
          description: Successful response with available POS products
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetPosAvailable"
        '400':
          description: Bad request
        '404':
          description: Not found
        '500':
          description: Internal server error
  /frontend/cart/update_cart_item:
    post:
      tags:
        - UpdateCartItem
      summary: Update cart item
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCartItemRequest"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateCartItemResponse"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /frontend/cart/delete_cart_item:
    post:
      tags:
        - DeleteCartItem
      summary: Delete a cart item
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteCartItemRequest"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteCartItemResponse"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /frontend/cart/delete_cart:
    post:
      tags:
        - DeleteCart
      summary: Delete multiple cart items
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteCartRequest"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteCartResponse"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /frontend/cart/cart_giftcard_with_rooms:
    post:
      tags:
        - CartGiftCardWithRooms
      summary: Retrieve cart information with rooms and gift cards
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CartGiftCardWithRoomsRequest"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CartGiftCardWithRoomsResponse"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
components:
  schemas:
    GetSearchResultRequest:
      type: object
      properties:
        promo:
          type: string
        room_stay_from:
          type: string
          format: date
        room_stay_to:
          type: string
          format: date
        sub_hotel_id:
          type: string
        type:
          type: string
        adults:
          type: string
        child:
          type: string
    GetSearchResultResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            rooms_avail:
              type: array
              items:
                type: object
                properties:
                  available_rooms:
                    type: array
                    items:
                      type: object
                      properties:
                        product_id:
                          type: string
                        product_name:
                          type: string
                        image:
                          type: string
                        cover_photo:
                          type: string
                        product_sort_order:
                          type: string
                        product_is_clean:
                          type: string
                        max_occupancy:
                          type: string
                        bed_code_name:
                          type: string
                        room_view_code_name:
                          type: string
                          nullable: true
                        type_id:
                          type: string
                        sub_hotel_id:
                          type: string
                        srp_card_color:
                          type: string
                        srp_card_color_sec:
                          type: string
                        room_display_name:
                          type: string
                        room_type_description:
                          type: string
                        inside_view_longitude:
                          type: string
                        inside_view_latitude:
                          type: string
                        inside_view_height:
                          type: string
                        inside_view_pano_id:
                          type: string
                        accessible_ind:
                          type: string
                        is_bundle:
                          type: string
                        product_room_number:
                          type: string
                        normal_occupancy:
                          type: string
                        boat_length:
                          type: string
                        product_type:
                          type: string
                        m3_names:
                          type: string
                          nullable: true
                        additional_products:
                          type: array
                          items:
                            type: object
                            properties:
                              icon:
                                type: string
                              product:
                                type: string
                        mls_days:
                          type: integer
                        rooms_available:
                          type: integer
                        rooms_available_ids:
                          type: array
                          items:
                            type: object
                            properties:
                              product_id:
                                type: string
                              product_name:
                                type: string
                        rateNameDesc:
                          type: object
                          properties:
                            key:
                              type: object
                              properties:
                                key:
                                  type: object
                                  properties:
                                    ratePlanName:
                                      type: string
                                    ratePlanDesc:
                                      type: string
                        rates:
                          type: object
                          properties:
                            key:
                              type: object
                              properties:
                                key:
                                  type: array
                                  items:
                                    type: string
                        dates:
                          type: object
                          properties:
                            key:
                              type: object
                              properties:
                                key:
                                  type: array
                                  items:
                                    type: string
                        nightlyRate:
                          type: object
                          properties:
                            key:
                              type: object
                              properties:
                                key:
                                  type: string
                        ratePlanIds:
                          type: object
                          properties:
                            key:
                              type: object
                              properties:
                                key:
                                  type: array
                                  items:
                                    type: string
                        nightlySum:
                          type: object
                          properties:
                            key:
                              type: object
                              properties:
                                key:
                                  type: string
                        totalRate:
                          type: object
                          properties:
                            key:
                              type: object
                              properties:
                                key:
                                  type: string
                        surcharge:
                          type: integer
                        resort_fee:
                          type: integer
                        cancelBefore:
                          type: object
                          properties:
                            key:
                              type: object
                              properties:
                                key:
                                  type: string
                                another_key:
                                  type: string
                        policyText:
                          type: object
                          properties:
                            key:
                              type: object
                              properties:
                                key:
                                  type: string
                                another_key:
                                  type: string
                        highestAvgRate:
                          type: object
                          properties:
                            key:
                              type: string
                            another_key:
                              type: string
                        rate_plan_description_sorted:
                          type: array
                          items:
                            type: object
                            properties:
                              policy_id:
                                type: integer
                              rate_plan_name:
                                type: string
                        policy_name:
                          type: object
                          properties:
                            key:
                              type: string
                        uniqueIndex:
                          type: string
                        amenitiesdata:
                          type: object
                          properties:
                            Television:
                              type: object
                              properties:
                                key:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                    icon:
                                      type: string
                                    selected:
                                      type: string
                                    hotel_amenity_id:
                                      type: string
                                another_key:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                    icon:
                                      type: string
                                    selected:
                                      type: string
                                    hotel_amenity_id:
                                      type: string
                                parent_icon:
                                  type: string
                            Room_features:
                              type: object
                              properties:
                                key:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                    icon:
                                      type: string
                                    selected:
                                      type: string
                                    hotel_amenity_id:
                                      type: string
                                parent_icon:
                                  type: string
                            Bathroom:
                              type: object
                              properties:
                                key:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                    icon:
                                      type: string
                                    selected:
                                      type: string
                                    hotel_amenity_id:
                                      type: string
                                parent_icon:
                                  type: string
                            Services:
                              type: object
                              properties:
                                key:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                    icon:
                                      type: string
                                    selected:
                                      type: string
                                    hotel_amenity_id:
                                      type: string
                                another_key:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                    icon:
                                      type: string
                                    selected:
                                      type: string
                                    hotel_amenity_id:
                                      type: string
                                parent_icon:
                                  type: string
                            Food_and_Drink:
                              type: object
                              properties:
                                key:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                    icon:
                                      type: string
                                    selected:
                                      type: string
                                    hotel_amenity_id:
                                      type: string
                                parent_icon:
                                  type: string
                        roomImages:
                          type: array
                          items:
                            type: object
                            properties:
                              catalog_product_media_id:
                                type: string
                              type_id:
                                type: string
                              product_type:
                                type: string
                              media:
                                type: string
                              cover_photo:
                                type: string
                              is_featured:
                                type: string
                              sort_order:
                                type: string
                              filename:
                                type: string
                              url:
                                type: string
                        room_type_name:
                          type: string
                        tax_id:
                          type: string
                        taxes:
                          type: array
                          items:
                            type: object
                            properties:
                              tax_name:
                                type: string
                              tax_common_name:
                                type: string
                              tax_value:
                                type: string
                              tax_id:
                                type: string
                              applied_on_field:
                                type: string
                              default_tax:
                                type: string
                        totalDiscount:
                          type: object
                          properties:
                            key:
                              type: object
                              properties:
                                key:
                                  type: integer
                        toolTipData:
                          type: object
                          properties:
                            key:
                              type: object
                              properties:
                                key:
                                  type: object
                                  properties:
                                    nightlyAvg:
                                      type: string
                                    nights:
                                      type: integer
                                    subTotal:
                                      type: string
                                    discount:
                                      type: string
                                    resortFee:
                                      type: integer
                                    surcharge:
                                      type: integer
                                    taxes:
                                      type: string
                                    grandTotal:
                                      type: string
                        minimum_price_value:
                          type: string
                        minimum_price_plan:
                          type: string
                        minimum_price_policy:
                          type: integer
                        price_for_sorting:
                          type: string
            room_move:
              type: boolean
            type_ids:
              type: array
              items:
                type: integer
            amenities_filters:
              type: array
              items:
                type: string
            viewType_for_filters:
              type: array
              items:
                type: string
            bedType_for_filters:
              type: array
              items:
                type: string
            ratePlan:
              type: string
            lowestPriceRoom:
              type: object
              properties:
                productId:
                  type: string
                roomTypeId:
                  type: string
            minimumnPrice:
              type: integer
            maximumPrice:
              type: number
            roomSubHotelId:
              type: string
            singleRoomSearched:
              type: boolean
            selectedHotelPolicy:
              type: integer
            subHotelMinimumPrice:
              type: object
              properties:
                key:
                  type: integer
                another_key:
                  type: integer
            errorMsgForHotel:
              type: string
        status:
          type: string
        message:
          type: string
    GetPriceMlsStopSellRequest:
      type: object
      properties:
        first:
          type: string
          format: date
          example: "2024-08-01"
        last:
          type: string
          format: date
          example: "2024-09-30"
        promo:
          type: string
          example: ""
        sub_hotel_id:
          type: integer
          example: 123
        fromSuitesPage:
          type: boolean
          example: false
      required:
        - first
        - last
        - sub_hotel_id
        - fromSuitesPage

    GetPriceMlsStopSellResponse:
      type: object
      properties:
        amount:
          type: object
          additionalProperties:
            type: string
            format: float
        minStay:
          type: object
          additionalProperties:
            type: integer
        stopSell:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                example: "8/1/2024"
              value:
                type: integer
                example: 0
        cta:
          type: object
          additionalProperties:
            type: integer
        ctd:
          type: object
          additionalProperties:
            type: integer
        availability:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                example: "8/1/2024"
              value:
                type: integer
                example: 1
    GetDynamicDates:
      type: object
      properties:
        min_date:
          type: object
          properties:
            day:
              type: string
            month:
              type: string
            year:
              type: string
        room_stay_from:
          type: object
          properties:
            day:
              type: string
            month:
              type: string
            year:
              type: string
        room_stay_to:
          type: object
          properties:
            day:
              type: string
            month:
              type: string
            year:
              type: string
    GetGiftCards:
      type: object
      properties:
        data:
          type: object
          properties:
            product_id:
              type: string
              description: The ID of the product
            product_name:
              type: string
              description: The name of the product
            p_gc_price_opt:
              type: string
              description: The price options for the gift card
            p_gc_open_price:
              type: string
              description: The open price status for the gift card
            p_gc_open_price_min:
              type: string
              description: The minimum open price for the gift card
            p_gc_open_price_max:
              type: string
              description: The maximum open price for the gift card
            media:
              type: string
              description: The URL of the gift card image
            tax_id:
              type: string
              nullable: true
              description: The tax ID associated with the gift card
            tax_name:
              type: string
              nullable: true
              description: The tax name associated with the gift card
            tax_value:
              type: string
              nullable: true
              description: The tax value associated with the gift card
        status:
          type: string
          description: The status of the response
        message:
          type: string
          description: The message associated with the response
    GetPriceModuleSelectedDatesRequest:
      type: object
      properties:
        start:
          type: object
          properties:
            year:
              type: integer
            month:
              type: integer
            day:
              type: integer
        end:
          type: object
          properties:
            year:
              type: integer
            month:
              type: integer
            day:
              type: integer
        calledFrom:
          type: string
        calledOn:
          type: string
        sub_hotel_id:
          type: integer
        roomTypeId:
          type: integer
    GetPriceModuleSelectedDatesResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            price_data:
              type: object
              properties:
                direct:
                  type: object
                  properties:
                    amount:
                      type: integer
                    best_available_price:
                      type: integer
                    channelName:
                      type: string
                    subHotelId:
                      type: integer
                other:
                  type: object
                  properties:
                    AGO:
                      type: object
                      properties:
                        amount:
                          type: string
                        best_available_price:
                          type: integer
                        channelName:
                          type: string
                        subHotelId:
                          type: integer
                    BDC:
                      type: object
                      properties:
                        amount:
                          type: string
                        best_available_price:
                          type: integer
                        channelName:
                          type: string
                        subHotelId:
                          type: integer
                        imageName:
                          type: string
                    EXP:
                      type: object
                      properties:
                        amount:
                          type: string
                        best_available_price:
                          type: integer
                        channelName:
                          type: string
                        subHotelId:
                          type: integer
                        imageName:
                          type: string
                    PCL:
                      type: object
                      properties:
                        amount:
                          type: string
                        best_available_price:
                          type: integer
                        channelName:
                          type: string
                        subHotelId:
                          type: integer
                        imageName:
                          type: string
                    GAM:
                      type: object
                      properties:
                        amount:
                          type: string
                        best_available_price:
                          type: integer
                        channelName:
                          type: string
                        subHotelId:
                          type: integer
                        imageName:
                          type: string
                    HOP:
                      type: object
                      properties:
                        amount:
                          type: string
                        best_available_price:
                          type: integer
                        channelName:
                          type: string
                        subHotelId:
                          type: integer
                    HOTELS:
                      type: object
                      properties:
                        amount:
                          type: string
                        best_available_price:
                          type: integer
                        channelName:
                          type: string
                        subHotelId:
                          type: integer
                        imageName:
                          type: string
            additional_products:
              type: array
              items:
                type: string
            showDates:
              type: integer
            showInterstitial:
              type: integer
        status:
          type: string
        message:
          type: string
    GetHotelRooms:
      type: object
      properties:
        status:
          type: string
        data:
          type: array
          items:
            type: object
            properties:
              room_type_id:
                type: string
              hotel_id:
                type: string
              sub_hotel_id:
                type: string
              boat_length:
                type: string
              boat_width:
                type: string
              bedroom_room_type:
                type: string
              room_type_name:
                type: string
              occupancy:
                type: string
              description:
                type: string
              bundleRoom:
                type: string
              room_type_code:
                type: string
              bed:
                type: string
              view:
                type: string
                nullable: true
              room_display_name:
                type: string
              img:
                type: string
              tab_img:
                type: string
              thumbnailImage:
                type: string
              img_name:
                type: string
              room_type:
                type: string
              additional_products:
                type: string
              images:
                type: array
                items:
                  type: string
              amenities:
                type: array
                items:
                  type: object
                  properties:
                    room_amenity_type_name:
                      type: string
                    parent:
                      type: string
                    parent_icon:
                      type: string
                    room_amenity_type_icon:
                      type: string
                    hotel_amenity_id:
                      type: string
                    selected:
                      type: string
              show_dimension:
                type: boolean
        imgThumb:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
        message:
          type: string
    AddToCartRequest:
      type: object
      properties:
        adults:
          type: string
          example: "2"
        child:
          type: string
          example: "0"
        quantity:
          type: integer
          example: 1
        room_stay_from:
          type: string
          format: date
          example: "08-05-2024"
        room_stay_to:
          type: string
          format: date
          example: "08-06-2024"
        addCharges:
          type: integer
          example: 0
        cart_type:
          type: string
          example: "reservation"
        roomTypeName:
          type: string
          example: "PB Roadside Efficiency Suite 1Q 123"
        dates:
          type: array
          items:
            type: string
            format: date
        nightlydiscount:
          type: array
          items:
            type: string
        ratePlan:
          type: array
          items:
            type: string
        nightlySum:
          type: string
        rates:
          type: array
          items:
            type: string
        room_display_name:
          type: string
        typeId:
          type: string
        roomMove:
          type: boolean
        product_name:
          type: string
        selectedPolicyId:
          type: integer
        uniqueIndex:
          type: string
        product_discount:
          type: integer
        productId:
          type: string
        mupog:
          type: string
    AddToCartResponse:
      type: object
      properties:
        status:
          type: string
          example: "success"
        message:
          type: string
        data:
          type: object
          properties:
            resortFeePos:
              type: object
              properties:
                cart_id:
                  type: string
                cart_items_count:
                  type: string
                cart_type:
                  type: string
                tab_note:
                  type: string
                tab_editing_indicator:
                  type: string
                tab_order_opened_by_user:
                  type: string
                created_date:
                  type: string
                modified_date:
                  type: string
                cart_item_id:
                  type: string
                room_cart_item_id:
                  type: string
                pos_cart_item_id:
                  type: string
                cart_room_type_id:
                  type: string
                product_id:
                  type: string
                cart_product_name:
                  type: string
                fe_display_product_name:
                  type: string
                products_to_be_blocked:
                  type: string
                hotel_id:
                  type: string
                sub_hotel_id:
                  type: string
                room_stay_guest_count:
                  type: string
                room_stay_child_count:
                  type: string
                room_stay_from:
                  type: string
                room_stay_to:
                  type: string
                product_is_timebound:
                  type: string
                is_timebound_with_availability:
                  type: string
                policy_id:
                  type: string
                customer_id:
                  type: string
                gc_recipient_name:
                  type: string
                gc_recipient_email:
                  type: string
                gc_sender_name:
                  type: string
                gc_sender_email:
                  type: string
                gc_message:
                  type: string
                gc_same_as_first:
                  type: string
                gc_for_indicator:
                  type: string
                promotion_applied:
                  type: string
                promotion_id:
                  type: string
                promotion_code:
                  type: string
                arrival_time:
                  type: string
                departure_time:
                  type: string
                room_stay_special_req:
                  type: string
                service_quantity:
                  type: string
                subtotal:
                  type: string
                product_discount:
                  type: string
                additional_guest_amounts:
                  type: string
                discount_percentage:
                  type: string
                discount_amount:
                  type: string
                nightly_price:
                  type: string
                nightly_discount:
                  type: string
                rate_plan_ids:
                  type: string
                grand_total:
                  type: string
                total_deposit_amount:
                  type: string
                total_remaining_amount:
                  type: string
                room_deposit_percentage:
                  type: string
                room_deposit_amount:
                  type: string
                room_deposit_type_indicator:
                  type: string
                room_move_fe:
                  type: string
                auto_added:
                  type: string
                pos_auto_sync_dates:
                  type: string
                is_active:
                  type: string
                created_by_user:
                  type: string
                dynamic_attribute:
                  type: string
                product_attribute_fields:
                  type: string
                product_attribute_values:
                  type: string
                send_external_email:
                  type: string
                external_email_receiver:
                  type: string
                external_email_template_id:
                  type: string
                boat_data:
                  type: string
                no_traveller:
                  type: string
                product_pos_type:
                  type: string
                restaurant_attributes:
                  type: string
                ingredients:
                  type: string
                selectedOptions:
                  type: string
                selectedValue:
                  type: string
                selectedIngredientName:
                  type: string
                notSelectedIngredientName:
                  type: string
                restaurantNote:
                  type: string
                dropDownSelect:
                  type: string
                cooking_preference:
                  type: string
                orderTakeOrEat:
                  type: string
                restaurant_product_price:
                  type: string
                pos_type_name:
                  type: string
                taxes:
                  type: string
                uniqueIndex:
                  type: string
                promo_code_info:
                  type: string
            resortFeeTotal:
              type: string
            cart_data:
              type: array
              items:
                type: object
                properties:
                  cart_items_count:
                    type: string
                  cart_type:
                    type: string
                  tab_note:
                    type: string
                  tab_editing_indicator:
                    type: string
                  tab_order_opened_by_user:
                    type: string
                  created_date:
                    type: string
                  modified_date:
                    type: string
                  cart_item_id:
                    type: string
                  room_cart_item_id:
                    type: string
                  pos_cart_item_id:
                    type: string
                  cart_room_type_id:
                    type: string
                  product_id:
                    type: string
                  cart_product_name:
                    type: string
                  fe_display_product_name:
                    type: string
                  products_to_be_blocked:
                    type: string
                  hotel_id:
                    type: string
                  sub_hotel_id:
                    type: string
                  room_stay_guest_count:
                    type: string
                  room_stay_child_count:
                    type: string
                  room_stay_from:
                    type: string
                  room_stay_to:
                    type: string
                  product_is_timebound:
                    type: string
                  is_timebound_with_availability:
                    type: string
                  policy_id:
                    type: string
                  customer_id:
                    type: string
                  gc_recipient_name:
                    type: string
                  gc_recipient_email:
                    type: string
                  gc_sender_name:
                    type: string
                  gc_sender_email:
                    type: string
                  gc_message:
                    type: string
                  gc_same_as_first:
                    type: string
                  gc_for_indicator:
                    type: string
                  promotion_applied:
                    type: string
                  promotion_id:
                    type: string
                  promotion_code:
                    type: string
                  arrival_time:
                    type: string
                  departure_time:
                    type: string
                  room_stay_special_req:
                    type: string
                  service_quantity:
                    type: string
                  subtotal:
                    type: string
                  product_discount:
                    type: string
                  additional_guest_amounts:
                    type: string
                  discount_percentage:
                    type: string
                  discount_amount:
                    type: string
                  nightly_price:
                    type: string
                  nightly_discount:
                    type: string
                  rate_plan_ids:
                    type: string
                  grand_total:
                    type: string
                  total_deposit_amount:
                    type: string
                  total_remaining_amount:
                    type: string
                  room_deposit_percentage:
                    type: string
                  room_deposit_amount:
                    type: string
                  room_deposit_type_indicator:
                    type: string
                  room_move_fe:
                    type: string
                  auto_added:
                    type: string
                  pos_auto_sync_dates:
                    type: string
                  is_active:
                    type: string
                  created_by_user:
                    type: string
                  dynamic_attribute:
                    type: string
                  product_attribute_fields:
                    type: string
                  product_attribute_values:
                    type: string
                  send_external_email:
                    type: string
                  external_email_receiver:
                    type: string
                  external_email_template_id:
                    type: string
                  boat_data:
                    type: string
                  no_traveller:
                    type: string
                  product_pos_type:
                    type: string
                  restaurant_attributes:
                    type: string
                  ingredients:
                    type: string
                  selectedOptions:
                    type: string
                  selectedValue:
                    type: string
                  selectedIngredientName:
                    type: string
                  notSelectedIngredientName:
                    type: string
                  restaurantNote:
                    type: string
                  dropDownSelect:
                    type: string
                  cooking_preference:
                    type: string
                  orderTakeOrEat:
                    type: string
                  restaurant_product_price:
                    type: string
                  pos_type_name:
                    type: string
                  taxes:
                    type: string
                  uniqueIndex:
                    type: string
                  promo_code_info:
                    type: string
                  mupog:
                    type: string
                  image:
                    type: string
                  avgPerNight:
                    type: string
                  max_occupancy:
                    type: integer
                  normal_occupancy:
                    type: integer
                  boat_length:
                    type: integer
                  boat_width:
                    type: integer
                  room_type_name:
                    type: string
                  cart_room_hotel_name:
                    type: string
                  cart_room_hotel_address:
                    type: string
                  cart_room_hotel_logo:
                    type: string
                  tax_info:
                    type: array
                    items:
                      type: object
                      properties:
                        cart_tax_id:
                          type: string
                        cart_item_id:
                          type: string
                        tax_id:
                          type: string
                        tax_name:
                          type: string
                        tax_value:
                          type: string
                        tax_amount:
                          type: string
                        created_date:
                          type: string
                        tax:
                          type: string
                        sort_order:
                          type: string
                  customer:
                    type: object
                    properties:
                      cart_item_id:
                        type: string
                      customer_id:
                        type: string
                      customer_email:
                        type: string
                      first_name:
                        type: string
                      last_name:
                        type: string
                      city:
                        type: string
                      zip_code:
                        type: string
                      state:
                        type: string
                      country:
                        type: string
                      address:
                        type: string
                      phone_number:
                        type: string
                      secondary_phone_number:
                        type: string
                      customer_emails:
                        type: string
            cart_total:
              type: object
              properties:
                subtotal:
                  type: string
                tax_amount:
                  type: string
                tax_amount_a:
                  type: object
                  properties:
                    Sales Tax:
                      type: string
                    Tourist Development Tax:
                      type: string
                discount_amount:
                  type: string
                grand_total:
                  type: string
                total_deposit_amount:
                  type: string
                promotion_code:
                  type: string
                promotion_applied:
                  type: integer
        promo_min_error_count:
          type: string
        promotion_min_stay:
          type: string
        room_list:
          type: string
    LoadCartDataRequest:
      type: object
      properties:
        mupog:
          type: string
          description: The encoded data for cart retrieval.
    LoadCartDataResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            resortFeePos:
              type: object
              properties:
                cart_id:
                  type: string
                cart_items_count:
                  type: string
                cart_type:
                  type: string
                tab_note:
                  type: string
                tab_editing_indicator:
                  type: string
                tab_order_opened_by_user:
                  type: string
                created_date:
                  type: string
                modified_date:
                  type: string
                cart_item_id:
                  type: string
                room_cart_item_id:
                  type: string
                pos_cart_item_id:
                  type: string
                cart_room_type_id:
                  type: string
                product_id:
                  type: string
                cart_product_name:
                  type: string
                fe_display_product_name:
                  type: string
                products_to_be_blocked:
                  type: string
                hotel_id:
                  type: string
                sub_hotel_id:
                  type: string
                room_stay_guest_count:
                  type: string
                room_stay_child_count:
                  type: string
                room_stay_from:
                  type: string
                room_stay_to:
                  type: string
                product_is_timebound:
                  type: string
                is_timebound_with_availability:
                  type: string
                policy_id:
                  type: string
                customer_id:
                  type: string
                gc_recipient_name:
                  type: string
                gc_recipient_email:
                  type: string
                gc_sender_name:
                  type: string
                gc_sender_email:
                  type: string
                gc_message:
                  type: string
                gc_same_as_first:
                  type: string
                gc_for_indicator:
                  type: string
                promotion_applied:
                  type: string
                promotion_id:
                  type: string
                promotion_code:
                  type: string
                arrival_time:
                  type: string
                departure_time:
                  type: string
                room_stay_special_req:
                  type: string
                service_quantity:
                  type: string
                subtotal:
                  type: string
                product_discount:
                  type: string
                additional_guest_amounts:
                  type: string
                discount_percentage:
                  type: string
                discount_amount:
                  type: string
                nightly_price:
                  type: string
                nightly_discount:
                  type: string
                rate_plan_ids:
                  type: string
                grand_total:
                  type: string
                total_deposit_amount:
                  type: string
                total_remaining_amount:
                  type: string
                room_deposit_percentage:
                  type: string
                room_deposit_amount:
                  type: string
                room_deposit_type_indicator:
                  type: string
                room_move_fe:
                  type: string
                auto_added:
                  type: string
                pos_auto_sync_dates:
                  type: string
                is_active:
                  type: string
                created_by_user:
                  type: string
                dynamic_attribute:
                  type: string
                product_attribute_fields:
                  type: string
                product_attribute_values:
                  type: string
                send_external_email:
                  type: string
                external_email_receiver:
                  type: string
                external_email_template_id:
                  type: string
                boat_data:
                  type: string
                no_traveller:
                  type: string
                product_pos_type:
                  type: string
                restaurant_attributes:
                  type: string
                ingredients:
                  type: string
                selectedOptions:
                  type: string
                selectedValue:
                  type: string
                selectedIngredientName:
                  type: string
                notSelectedIngredientName:
                  type: string
                restaurantNote:
                  type: string
                dropDownSelect:
                  type: string
                cooking_preference:
                  type: string
                orderTakeOrEat:
                  type: string
                restaurant_product_price:
                  type: string
                pos_type_name:
                  type: string
                taxes:
                  type: string
                uniqueIndex:
                  type: string
                promo_code_info:
                  type: string
                mupog:
                  type: string
                image:
                  type: string
                avgPerNight:
                  type: string
                max_occupancy:
                  type: integer
                normal_occupancy:
                  type: integer
                boat_length:
                  type: integer
                boat_width:
                  type: integer
                room_type_name:
                  type: string
                cart_room_hotel_name:
                  type: string
                cart_room_hotel_address:
                  type: string
                cart_room_hotel_logo:
                  type: string
                tax_info:
                  type: array
                  items:
                    type: object
                    properties:
                      cart_tax_id:
                        type: string
                      cart_item_id:
                        type: string
                      tax_id:
                        type: string
                      tax_name:
                        type: string
                      tax_value:
                        type: string
                      tax_amount:
                        type: string
                      created_date:
                        type: string
                      tax:
                        type: string
                      sort_order:
                        type: string
                customer:
                  type: object
                  properties:
                    cart_item_id:
                      type: string
                    customer_id:
                      type: string
                    customer_email:
                      type: string
                    first_name:
                      type: string
                    last_name:
                      type: string
                    city:
                      type: string
                    zip_code:
                      type: string
                    state:
                      type: string
                    country:
                      type: string
                    address:
                      type: string
                    phone_number:
                      type: string
                    secondary_phone_number:
                      type: string
                    customer_emails:
                      type: string
            resortFeeTotal:
              type: number
            cart_data:
              type: object
              additionalProperties:
                type: array
                items:
                  type: object
                  properties:
                    cart_items_count:
                      type: string
                    cart_type:
                      type: string
                    tab_note:
                      type: string
                    tab_editing_indicator:
                      type: string
                    tab_order_opened_by_user:
                      type: string
                    created_date:
                      type: string
                    modified_date:
                      type: string
                    cart_item_id:
                      type: string
                    room_cart_item_id:
                      type: string
                    pos_cart_item_id:
                      type: string
                    cart_room_type_id:
                      type: string
                    product_id:
                      type: string
                    cart_product_name:
                      type: string
                    fe_display_product_name:
                      type: string
                    products_to_be_blocked:
                      type: string
                    hotel_id:
                      type: string
                    sub_hotel_id:
                      type: string
                    room_stay_guest_count:
                      type: string
                    room_stay_child_count:
                      type: string
                    room_stay_from:
                      type: string
                    room_stay_to:
                      type: string
                    product_is_timebound:
                      type: string
                    is_timebound_with_availability:
                      type: string
                    policy_id:
                      type: string
                    customer_id:
                      type: string
                    gc_recipient_name:
                      type: string
                    gc_recipient_email:
                      type: string
                    gc_sender_name:
                      type: string
                    gc_sender_email:
                      type: string
                    gc_message:
                      type: string
                    gc_same_as_first:
                      type: string
                    gc_for_indicator:
                      type: string
                    promotion_applied:
                      type: string
                    promotion_id:
                      type: string
                    promotion_code:
                      type: string
                    arrival_time:
                      type: string
                    departure_time:
                      type: string
                    room_stay_special_req:
                      type: string
                    service_quantity:
                      type: string
                    subtotal:
                      type: string
                    product_discount:
                      type: string
                    additional_guest_amounts:
                      type: string
                    discount_percentage:
                      type: string
                    discount_amount:
                      type: string
                    nightly_price:
                      type: string
                    nightly_discount:
                      type: string
                    rate_plan_ids:
                      type: string
                    grand_total:
                      type: string
                    total_deposit_amount:
                      type: string
                    total_remaining_amount:
                      type: string
                    room_deposit_percentage:
                      type: string
                    room_deposit_amount:
                      type: string
                    room_deposit_type_indicator:
                      type: string
                    room_move_fe:
                      type: string
                    auto_added:
                      type: string
                    pos_auto_sync_dates:
                      type: string
                    is_active:
                      type: string
                    created_by_user:
                      type: string
                    dynamic_attribute:
                      type: string
                    product_attribute_fields:
                      type: string
                    product_attribute_values:
                      type: string
                    send_external_email:
                      type: string
                    external_email_receiver:
                      type: string
                    external_email_template_id:
                      type: string
                    boat_data:
                      type: string
                    no_traveller:
                      type: string
                    product_pos_type:
                      type: string
                    restaurant_attributes:
                      type: string
                    ingredients:
                      type: string
                    selectedOptions:
                      type: string
                    selectedValue:
                      type: string
                    selectedIngredientName:
                      type: string
                    notSelectedIngredientName:
                      type: string
                    restaurantNote:
                      type: string
                    dropDownSelect:
                      type: string
                    cooking_preference:
                      type: string
                    orderTakeOrEat:
                      type: string
                    restaurant_product_price:
                      type: string
                    pos_type_name:
                      type: string
                    taxes:
                      type: string
                    uniqueIndex:
                      type: string
                    promo_code_info:
                      type: string
                    mupog:
                      type: string
                    image:
                      type: string
                    avgPerNight:
                      type: string
                    max_occupancy:
                      type: integer
                    normal_occupancy:
                      type: integer
                    boat_length:
                      type: integer
                    boat_width:
                      type: integer
                    room_type_name:
                      type: string
                    cart_room_hotel_name:
                      type: string
                    cart_room_hotel_address:
                      type: string
                    cart_room_hotel_logo:
                      type: string
                    tax_info:
                      type: array
                      items:
                        type: object
                        properties:
                          cart_tax_id:
                            type: string
                          cart_item_id:
                            type: string
                          tax_id:
                            type: string
                          tax_name:
                            type: string
                          tax_value:
                            type: string
                          tax_amount:
                            type: string
                          created_date:
                            type: string
                          tax:
                            type: string
                          sort_order:
                            type: string
                    customer:
                      type: object
                      properties:
                        cart_item_id:
                          type: string
                        customer_id:
                          type: string
                        customer_email:
                          type: string
                        first_name:
                          type: string
                        last_name:
                          type: string
                        city:
                          type: string
                        zip_code:
                          type: string
                        state:
                          type: string
                        country:
                          type: string
                        address:
                          type: string
                        phone_number:
                          type: string
                        secondary_phone_number:
                          type: string
                        customer_emails:
                          type: string
    GetPosAvailable:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              product_id:
                type: string
              product_name:
                type: string
              product_description:
                type: string
              product_tax:
                type: string
              product_price:
                type: string
              dynamic_attribute:
                type: string
              product_is_timebound:
                type: string
              tax_name:
                type: string
              tax_value:
                type: string
              media:
                type: string
              product_type:
                type: string
              available_on_fe:
                type: string
              allowed_for_all_rooms:
                type: string
              pos_auto_sync_dates:
                type: string
              associate_with_rooms:
                type: string
              image:
                type: string
              images:
                type: array
                items:
                  type: object
                  properties:
                    catalog_product_media_id:
                      type: string
                    type_id:
                      type: string
                    product_type:
                      type: string
                    media:
                      type: string
                    cover_photo:
                      type: string
                    is_featured:
                      type: string
                    sort_order:
                      type: string
                    filename:
                      type: string
                    url:
                      type: string
        status:
          type: string
    UpdateCartItemRequest:
      type: object
      properties:
        cart_item_id:
          type: string
        mupog:
          type: string
        room_stay_from:
          type: string
          format: date
        room_stay_to:
          type: string
          format: date
        adult:
          type: integer
        child:
          type: string
        policy_id:
          type: string
        product_id:
          type: string
        room_type_id:
          type: string
        cart_type:
          type: string
      required:
        - cart_item_id
        - mupog
        - room_stay_from
        - room_stay_to
        - adult
        - child
        - policy_id
        - product_id
        - room_type_id
        - cart_type
    UpdateCartItemResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            resortFeePos:
              type: object
              properties:
                cart_id:
                  type: string
                cart_items_count:
                  type: string
                cart_type:
                  type: string
                tab_note:
                  type: string
                  nullable: true
                tab_editing_indicator:
                  type: string
                  nullable: true
                tab_order_opened_by_user:
                  type: string
                  nullable: true
                created_date:
                  type: string
                  format: date-time
                modified_date:
                  type: string
                  format: date-time
                cart_item_id:
                  type: string
                room_cart_item_id:
                  type: string
                pos_cart_item_id:
                  type: string
                cart_room_type_id:
                  type: string
                product_id:
                  type: string
                cart_product_name:
                  type: string
                fe_display_product_name:
                  type: string
                products_to_be_blocked:
                  type: string
                hotel_id:
                  type: string
                sub_hotel_id:
                  type: string
                room_stay_guest_count:
                  type: string
                room_stay_child_count:
                  type: string
                room_stay_from:
                  type: string
                  format: date
                room_stay_to:
                  type: string
                  format: date
                product_is_timebound:
                  type: string
                is_timebound_with_availability:
                  type: string
                policy_id:
                  type: string
                customer_id:
                  type: string
                gc_recipient_name:
                  type: string
                gc_recipient_email:
                  type: string
                gc_sender_name:
                  type: string
                gc_sender_email:
                  type: string
                gc_message:
                  type: string
                gc_same_as_first:
                  type: string
                gc_for_indicator:
                  type: string
                promotion_applied:
                  type: string
                promotion_id:
                  type: string
                  nullable: true
                promotion_code:
                  type: string
                  nullable: true
                arrival_time:
                  type: string
                departure_time:
                  type: string
                room_stay_special_req:
                  type: string
                service_quantity:
                  type: string
                subtotal:
                  type: string
                product_discount:
                  type: string
                additional_guest_amounts:
                  type: string
                discount_percentage:
                  type: string
                discount_amount:
                  type: string
                nightly_price:
                  type: string
                nightly_discount:
                  type: string
                rate_plan_ids:
                  type: string
                grand_total:
                  type: string
                total_deposit_amount:
                  type: string
                total_remaining_amount:
                  type: string
                room_deposit_percentage:
                  type: string
                room_deposit_amount:
                  type: string
                room_deposit_type_indicator:
                  type: string
                room_move_fe:
                  type: string
                auto_added:
                  type: string
                pos_auto_sync_dates:
                  type: string
                is_active:
                  type: string
                created_by_user:
                  type: string
                dynamic_attribute:
                  type: string
                product_attribute_fields:
                  type: string
                product_attribute_values:
                  type: string
                send_external_email:
                  type: string
                external_email_receiver:
                  type: string
                  nullable: true
                external_email_template_id:
                  type: string
                boat_data:
                  type: string
                no_traveller:
                  type: string
                product_pos_type:
                  type: string
                restaurant_attributes:
                  type: string
                ingredients:
                  type: string
                selectedOptions:
                  type: string
                selectedValue:
                  type: string
                selectedIngredientName:
                  type: string
                notSelectedIngredientName:
                  type: string
                restaurantNote:
                  type: string
                dropDownSelect:
                  type: string
                cooking_preference:
                  type: string
                orderTakeOrEat:
                  type: string
                restaurant_product_price:
                  type: string
                pos_type_name:
                  type: string
                taxes:
                  type: string
                uniqueIndex:
                  type: string
                promo_code_info:
                  type: string
            resortFeeTotal:
              type: integer
            cart_data:
              type: array
              items:
                type: object
                properties:
                  cart_items_count:
                    type: string
                  cart_type:
                    type: string
                  tab_note:
                    type: string
                    nullable: true
                  tab_editing_indicator:
                    type: string
                    nullable: true
                  tab_order_opened_by_user:
                    type: string
                    nullable: true
                  created_date:
                    type: string
                    format: date-time
                  modified_date:
                    type: string
                    format: date-time
                  cart_item_id:
                    type: string
                  room_cart_item_id:
                    type: string
                  pos_cart_item_id:
                    type: string
                  cart_room_type_id:
                    type: string
                  product_id:
                    type: string
                  cart_product_name:
                    type: string
                  fe_display_product_name:
                    type: string
                  products_to_be_blocked:
                    type: string
                  hotel_id:
                    type: string
                  sub_hotel_id:
                    type: string
                  room_stay_guest_count:
                    type: string
                  room_stay_child_count:
                    type: string
                  room_stay_from:
                    type: string
                    format: date
                  room_stay_to:
                    type: string
                    format: date
                  product_is_timebound:
                    type: string
                  is_timebound_with_availability:
                    type: string
                  policy_id:
                    type: string
                  customer_id:
                    type: string
                  gc_recipient_name:
                    type: string
                  gc_recipient_email:
                    type: string
                  gc_sender_name:
                    type: string
                  gc_sender_email:
                    type: string
                  gc_message:
                    type: string
                  gc_same_as_first:
                    type: string
                  gc_for_indicator:
                    type: string
                  promotion_applied:
                    type: string
                  promotion_id:
                    type: string
                    nullable: true
                  promotion_code:
                    type: string
                    nullable: true
                  arrival_time:
                    type: string
                  departure_time:
                    type: string
                  room_stay_special_req:
                    type: string
                  service_quantity:
                    type: string
                  subtotal:
                    type: string
                  product_discount:
                    type: string
                  additional_guest_amounts:
                    type: string
                  discount_percentage:
                    type: string
                  discount_amount:
                    type: string
                  nightly_price:
                    type: string
                  nightly_discount:
                    type: string
                  rate_plan_ids:
                    type: string
                  grand_total:
                    type: string
                  total_deposit_amount:
                    type: string
                  total_remaining_amount:
                    type: string
                  room_deposit_percentage:
                    type: string
                  room_deposit_amount:
                    type: string
                  room_deposit_type_indicator:
                    type: string
                  room_move_fe:
                    type: string
                  auto_added:
                    type: string
                  pos_auto_sync_dates:
                    type: string
                  is_active:
                    type: string
                  created_by_user:
                    type: string
                  dynamic_attribute:
                    type: string
                  product_attribute_fields:
                    type: string
                  product_attribute_values:
                    type: string
                  send_external_email:
                    type: string
                  external_email_receiver:
                    type: string
                    nullable: true
                  external_email_template_id:
                    type: string
                  boat_data:
                    type: string
                  no_traveller:
                    type: string
                  product_pos_type:
                    type: string
                  restaurant_attributes:
                    type: string
                  ingredients:
                    type: string
                  selectedOptions:
                    type: string
                  selectedValue:
                    type: string
                  selectedIngredientName:
                    type: string
                  notSelectedIngredientName:
                    type: string
                  restaurantNote:
                    type: string
                  dropDownSelect:
                    type: string
                  cooking_preference:
                    type: string
                  orderTakeOrEat:
                    type: string
                  restaurant_product_price:
                    type: string
                  pos_type_name:
                    type: string
                  taxes:
                    type: string
                  uniqueIndex:
                    type: string
                  promo_code_info:
                    type: string
            grand_total:
              type: string
            guest_count:
              type: string
            guest_count_child:
              type: string
            hotel_id:
              type: string
            is_cart_auto:
              type: string
            is_promo_blocked:
              type: string
            order_id:
              type: string
            product_type:
              type: string
            resort_fee:
              type: string
            room_cart_data:
              type: array
              items:
                type: object
                properties:
                  discount_percentage:
                    type: string
                  additional_guest_amounts:
                    type: string
                  discount_amount:
                    type: string
                  nightly_discount:
                    type: string
                  rate_plan_ids:
                    type: string
                  room_stay_child_count:
                    type: string
                  room_deposit_type_indicator:
                    type: string
                  room_stay_special_req:
                    type: string
                  service_quantity:
                    type: string
                  subtotal:
                    type: string
                  total_remaining_amount:
                    type: string
                  dynamic_attribute:
                    type: string
                  product_attribute_fields:
                    type: string
                  send_external_email:
                    type: string
                  gc_message:
                    type: string
                  product_pos_type:
                    type: string
                  restaurant_attributes:
                    type: string
                  selectedOptions:
                    type: string
                  dropDownSelect:
                    type: string
                  orderTakeOrEat:
                    type: string
                  product_attribute_values:
                    type: string
                  gc_same_as_first:
                    type: string
                  is_timebound_with_availability:
                    type: string
                  gc_sender_name:
                    type: string
                  room_cart_item_id:
                    type: string
                  cart_product_name:
                    type: string
                  fe_display_product_name:
                    type: string
                  hotel_id:
                    type: string
                  room_stay_guest_count:
                    type: string
                  room_stay_from:
                    type: string
                    format: date
                  room_stay_to:
                    type: string
                    format: date
                  product_is_timebound:
                    type: string
                  created_date:
                    type: string
                    format: date-time
                  modified_date:
                    type: string
                    format: date-time
                  product_id:
                    type: string
                  cart_room_type_id:
                    type: string
                  cart_type:
                    type: string
                  tab_note:
                    type: string
                    nullable: true
                  tab_editing_indicator:
                    type: string
                    nullable: true
                  tab_order_opened_by_user:
                    type: string
                    nullable: true
                  gc_recipient_name:
                    type: string
                  gc_recipient_email:
                    type: string
                  gc_sender_email:
                    type: string
                  gc_for_indicator:
                    type: string
                  promotion_applied:
                    type: string
                  promotion_id:
                    type: string
                    nullable: true
                  promotion_code:
                    type: string
                    nullable: true
                  arrival_time:
                    type: string
                  departure_time:
                    type: string
                  room_deposit_percentage:
                    type: string
                  room_deposit_amount:
                    type: string
                  room_move_fe:
                    type: string
                  auto_added:
                    type: string
                  pos_auto_sync_dates:
                    type: string
                  is_active:
                    type: string
                  created_by_user:
                    type: string
                  external_email_receiver:
                    type: string
                    nullable: true
                  external_email_template_id:
                    type: string
                  boat_data:
                    type: string
                  no_traveller:
                    type: string
                  restaurantNote:
                    type: string
                  cooking_preference:
                    type: string
                  ingredients:
                    type: string
                  selectedValue:
                    type: string
                  restaurant_product_price:
                    type: string
                  pos_type_name:
                    type: string
                  taxes:
                    type: string
                  uniqueIndex:
                    type: string
                  promo_code_info:
                    type: string
            total:
              type: string
            total_no_fee:
              type: integer
            customer_id:
              type: string
            arrival_time:
              type: string
            departure_time:
              type: string
            discount:
              type: string
            discount_policy:
              type: string
            promo_code_block:
              type: string
            user_id:
              type: string
            promo_code_info:
              type: string
            room_stay_from:
              type: string
              format: date
            room_stay_to:
              type: string
              format: date
            total_resort_fee:
              type: integer
            total_without_fee:
              type: integer
            total_discount:
              type: integer
            cart_totals:
              type: object
              properties:
                subtotal:
                  type: string
                discount:
                  type: string
                grand_total:
                  type: string
                total:
                  type: string
                resort_fee:
                  type: string
                room_deposit_amount:
                  type: string
                total_remaining_amount:
                  type: string
                nightly_price:
                  type: string
                nightly_discount:
                  type: string
                additional_guest_amounts:
                  type: string
            service_totals:
              type: array
              items:
                type: object
                properties:
                  product_id:
                    type: string
                  subtotal:
                    type: string
                  discount:
                    type: string
                  grand_total:
                    type: string
                  total:
                    type: string
                  taxes:
                    type: string
                  product_discount:
                    type: string
                  additional_guest_amounts:
                    type: string
                  nightly_price:
                    type: string
                  nightly_discount:
                    type: string
            grand_total_currency:
              type: string
            resort_fee_currency:
              type: string
            subtotal_currency:
              type: string
            discount_currency:
              type: string
            additional_guest_amounts_currency:
              type: string
            nightly_price_currency:
              type: string
            nightly_discount_currency:
              type: string
            cart_promo_code_applied:
              type: string
            cart_discount_amount:
              type: string
            cart_discount_percentage:
              type: string
            cart_discount_currency:
              type: string
            product_summary:
              type: array
              items:
                type: object
                properties:
                  product_id:
                    type: string
                  product_name:
                    type: string
                  product_type:
                    type: string
                  room_id:
                    type: string
                  room_type:
                    type: string
                  room_rate_plan_id:
                    type: string
                  room_stay_from:
                    type: string
                    format: date
                  room_stay_to:
                    type: string
                    format: date
                  room_guest_count:
                    type: string
                  room_child_count:
                    type: string
                  room_promotion_applied:
                    type: string
                  room_promotion_id:
                    type: string
                  room_promotion_code:
                    type: string
                  room_nightly_price:
                    type: string
                  room_nightly_discount:
                    type: string
                  room_additional_guest_amounts:
                    type: string
                  room_total:
                    type: string
                  room_subtotal:
                    type: string
                  room_discount:
                    type: string
                  room_deposit_amount:
                    type: string
                  room_deposit_percentage:
                    type: string
                  room_deposit_type_indicator:
                    type: string
                  room_resort_fee:
                    type: string
                  room_special_requests:
                    type: string
                  room_dynamic_attribute:
                    type: string
                  room_product_attribute_fields:
                    type: string
                  room_product_attribute_values:
                    type: string
                  room_send_external_email:
                    type: string
                  room_external_email_receiver:
                    type: string
                  room_external_email_template_id:
                    type: string
            cart_details:
              type: array
              items:
                type: object
                properties:
                  cart_item_id:
                    type: string
                  room_cart_item_id:
                    type: string
                  pos_cart_item_id:
                    type: string
                  cart_room_type_id:
                    type: string
                  product_id:
                    type: string
                  cart_product_name:
                    type: string
                  fe_display_product_name:
                    type: string
                  products_to_be_blocked:
                    type: string
                  hotel_id:
[...]
